body {

font-family: arial, helvetica, sans-serif;
	
	background-color: rgb(200,200,200);
	background-attachment:fixed;
	background-size:cover;
	font-size: 15px;
	line-height: 1.5;
}
header h1 {

		float:none;
		width:100%;
	}
.container {
	width:75%;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
	overflow:hidden;
	display: block;
}
table, th, td {
	
  	border: 5px solid rgb(255,191,0);
  	
	text-align: center;
	border-collapse: collapse;
}
header {

	top:0px;
	background:rgb(100, 25.1, 25.1);
	color:turquoise;
	border-bottom: 3px solid;
	min-height:100px;
}
header h1 {
	float:left;
	
}
nav {
	padding: 0 60px 0 20px;
	float:right;
	margin-top:50px;
	margin-bottom:3px;
	background:gray;
	
}
header li {
	display:inline;
	margin:8px;
	color: white;	
	
}
header a {
	text-decoration:none;
	color:cyan;
	text-transform:uppercase;

}
header a:hover{
	font-weight:bold;
	color:lightblue;
}

#rocks{

	margin-left: auto;
    margin-right: auto;
    text-align: center;
	overflow:hidden;
	display: block;
}
#readable{
	background:rgb(100, 25.1, 25.1);
	line-height:2;
	text-align:center;
	color:turquoise;
	
	font-size: 20;
	padding-right:20px;
	padding-left:20px;
	padding-top:5px;
	padding-bottom:5px;

}
#readable2{
	background:rgb(63, 59, 186);
	line-height:2;
	text-align:center;
	color:rgb(255, 191, 0);
	
	font-size: 20;
	padding-right:20px;
	padding-left:20px;
	padding-top:5px;
	padding-bottom:5px;

}
footer {
	text-align:center;
	background:rgb(100, 25.1, 25.1);
	color:turquoise;
	border-top:3px solid;
	min-height:100px;
}
footer a {
	color:white;
}